<!doctype html>

<html lang="en" data-ng-app="fitApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Login - FIT</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="images/favicon.png">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.deep_purple-pink.min.css">-->
    <link rel="stylesheet" href="css/styles.css">
    <style>
        #view-source {
            position: fixed;
            display: block;
            right: 0;
            bottom: 0;
            margin-right: 40px;
            margin-bottom: 40px;
            z-index: 900;
        }
        
        .mdl-layout {
            align-items: center;
            justify-content: center;
        }
        
        .mdl-layout__content {
            padding: 24px;
            flex: none;
        }
    </style>
</head>

<body data-ng-cloak="true" data-ng-controller="LoginController" style="background-color:#00BCD4 !important" class="mdl-demo  mdl-color-text--grey-700 mdl-base">


    <div class="mdl-layout mdl-js-layout">
        <main class="mdl-layout__content">
            <div class="mdl-card mdl-shadow--6dp">
                <div style="background-color: #006064 !important;" class="mdl-card__title mdl-color--primary mdl-color-text--white">
                    <h2 style="padding-left: 36%;" class="mdl-cell mdl-cell--12-col mdl-card__title-text">Login</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <form action="#">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input data-ng-model="username" class="mdl-textfield__input" type="text" id="username" data-ng-required="true" />
                            <label class="mdl-textfield__label" for="email">Username</label>
                            <span ng-if="usernameErr" class="mdl-textfield__error">Username is required.</span>
                            <span ng-if="usernameExistErr" class="error_text">Username does not exist in the database.</span>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield">
                            <input data-ng-model="password" class="mdl-textfield__input" type="password" id="password" data-ng-required="true" />
                            <label class="mdl-textfield__label" for="userpass">Password</label>
                            <span ng-if="passwordErr" class="mdl-textfield__error">Password is required.</span>
                            <span ng-if="incorrectPass" class="error_text">Incorrect password.</span>
                        </div>
                    </form>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <button style="    color: #006064 !important;" type="submit" data-ng-click="loginclick()" class=" mdl-cell mdl-cell--12-col mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Log in</button>
                </div>
            </div>
        </main>
    </div>

    <script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>